:root {
  /* # PALETTE COLORI */
  --cyan: #add8e6;
  --black: #000000;
  --golden: #daa520;
  --blue: #00008b;
  --fuchsia: #ee82ee;
  --white: #ffffff;
  --gray: #d3d3d3;
  --azure: #1e90ff;
  --pink: #ffc0cb;
  --green: #228b22;
  --darkgray: #23272a;
  --salmon: #f08080;
  --teal: #20b2aa;
  --aquamarine: #7fffd4;
  --lightpink: #ffb6c1;
  --lightblue: #3161e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* # UTILS */

body{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{
  font-size: 39px;
  padding: 28px;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.link-list{

}

.list-item{
  display: inline-block;
  margin: 0 25px;
}

ul{
  list-style: none;
}

.bg-lightblue{
  background-color: var(--lightblue);
}

.btn{
  padding: 0.75 1rem;
  background-color: white;
  color: #303030;
  border-radius: 25px;
  border: none;
}

.small-btn{
  min-width: 71px;
  min-height: 23px;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-align: center;
}

.large-col {
  width: 60%;
}

.small-col {
  width: 40%;
}

.flex.d-row-reverse {
  flex-direction: row-reverse;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center{
  justify-content: center;
}

/* # HEADER */

header {
  padding: 1.5rem 0;
}

nav > div{
  color: white;
}

.nav-center{
  width: 500px;
}

/* # JUMBOTRON */

.jumbotron {
  min-height: 400px;
  padding: 2rem 0;


  display: flex;
  justify-content: center;
  align-items: center;


  background-image: url('../img/img/jumbo.png');
  background-size: cover;
  background-position: center;


  text-align: center;
  color: white;
}

.jumbotron > .container {
  width: 30%;
  min-height: 250px;
  line-height: 48px;
}

.jumbotron > .container > h1{
  font-size: 4.5rem;
  margin: 2.5rem 0;
}

.jumbotron > .container > p{
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.jumbotron > .container button{
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 10px;
  padding: 0.75rem 1.5rem;
  
}
/* # SECTIONS */

.wave{
  color: var(--darkgray);
  display: block;
}

section.bg-white {
  background-color: var(--white);
}

section.bg-gray {
  background-color: var(--gray);
}

/* .bg-item1{
  background-image: url('../img/img/item1.svg');
} */

.main-section {
  padding: 8rem 0;
}

.large-col > img{
  width: 100%;
}

.small-col > h2{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.small-col > p{
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.bg-sprinkle{
  background-image: url('../img/img/stars.svg');
  padding-top: 3rem;
  background-position: center;
  background-repeat: no-repeat;
}


/* # FOOTER */

.bg-darkgray {
  background-color: var(--darkgray);
}

.footer-top {
  border: 1px solid var(--gray);
}

.footer-top,
.footer-bottom {
  padding: 2rem 0;
}

.footer-bottom > .container > * {
  padding: 0.25rem 0.5rem;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: 25%;
}

/* ! DEBUG */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-white {
  border: 2px dashed var(--white);
}

.debug .bg-cyan {
  background-color: var(--cyan);
  min-height: 50px;
}

.debug .bg-golden {
  background-color: var(--golden);
  min-height: 50px;
}

.debug .bg-blue {
  background-color: var(--blue);
  /* min-height: 50px; */
}

.debug .bg-fuchsia {
  background-color: var(--fuchsia);
  /* min-height: 50px; */
}

.debug .bg-azure {
  background-color: var(--azure);
  min-height: 50px;
}

.debug .bg-pink {
  background-color: var(--pink);
  min-height: 50px;
}

.debug .bg-green {
  background-color: var(--green);
  min-height: 50px;
}

.debug .bg-salmon {
  background-color: var(--salmon);
  min-height: 50px;
}

.debug .bg-teal {
  background-color: var(--teal);
  min-height: 50px;
}

.debug .bg-aquamarine {
  background-color: var(--aquamarine);
  min-height: 50px;
}

.debug .bg-lightpink {
  background-color: var(--lightpink);
}

.debug .tall {
  min-height: 350px;
}

.debug .taller {
  min-height: 600px;
}
